.common {
    text-align: center;
}

.content1{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    transition: all .15s ease-in-out;
    width: 500px;
    height: 300px;
    background-color: darkgray;
}

.content2{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    transition: all .15s ease-in-out;
    width: 500px;
    height: 300px;
    background-color: darkgray;
}

#input1 {
    vertical-align: top;
}

#output1 {
    vertical-align : top;
}

#predictdigit {
    width: 196px;
    height: 196px;
    line-height: 196px;
    font-size: 160px;
    border: solid 1px black;
    background-color: white;
    font-family: Century;
}

