<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140461850-1"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-140461850-1');
    </script>
    <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v2.3.7/dist/mini-default.min.css">
    <!--
    Note: This is a good css too worth looking at in the future : https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-nord.min.css
    -->

    <link rel="stylesheet" href="../static/style.css"> <!-- 여기에 time 붙여서 계속 다른값주면 계속 업데이트 될것. 아니면 ctrl shift r 누르기-->
    <meta charset="UTF-8">
    <title>Situation Recognition - by yunsujeon</title>
</head>

<div class="common">

    <body>

    <header class="sticky row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <a href="./" class="button">Home</a>
            <a href="https://imadelhanafi.com/posts/train_deploy_ml_model/" class="button">Flask Reference Blog</a>
            <a href="https://github.com/aai4r/aai4r-Situation-Recognition/" class="button">Model Reference
                Github</a>
            <a href="https://github.com/yunsujeon/MLserving_ServiceSituationRecognition/" class="button"
               target="_blank">This page Github</a>
        </div>
    </header>

    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <br/>
            <h1>Situation Recognition using PyTorch and Flask <small>deployed on Ubuntu Linux</small></h1>
            <br>
            <p>
                Drag and Drop an Situation image in the left box.
                The predicition text image will be shown in the the right box.
            </p>
            <p>
                It takes a few second, because this page is demo
            </p>
            <br>
            <p>
                왼쪽 박스에 '상황에 대한' 사진을 끌어다 놓으세요.
                예측된 결과와 정확도는 텍스로 오른쪽 박스에 나타날 것입니다.
            </p>
            <p>
                모델을 직접 넣지않고 subprocess를 사용하여 속도가 빠르지 않습니다. 몇초만 기다려주세요.
            </p>
            </br>

            {#            <div class="content1">#}
            {#                drag and drop here#}
            <form id="myform" action="/predict" method="POST" enctype="multipart/form-data">
                drag and drop here
                <input type="file" name="file"/>
            </form>
            {#            </div>#}

            <div class="content2">
                output image here
            </div>

        </div>

        <div class="container" style="height: 8rem; position: relative; padding : 50px">
  <span class="toast doc" style="position: absolute;">
    This web page made by yunsujeon | &copy; 2021 | <a
          href="https://github.com/yunsujeon/MLserving_ServiceContextUnderstanding"> Github Page</a>
  </span>
        </div>

        <script src="../static/index.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="//d3js.org/d3.v5.min.js"></script>
    </div>

    </body>
</div>